<p id="notice"><%= notice %></p>

<p>
  <b>Sabor:</b>
  <%= @pizza.sabor %>
</p>

<p>
  <b>Valor:</b>
  <%= @pizza.valor %>
</p>


<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
