<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @pedido.data %>
</p>

<p>
  <b>Status:</b>
  <%= @pedido.status %>
</p>

<p>
  <b>Total:</b>
  <%= @pedido.total %>
</p>


<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
