<form id="form_login">
  
</form>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Telefone cadastrado:</label>
    <div class="controls">
      <input type="text" class="input-medium search-query" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Entrar</button>
    </div>
  </div>
  <br/>
  <%= link_to 'Cadastrar novo cliente', new_cliente_path %>
</form>

<!-- <p>Find me in app/views/login/login.html.erb</p> -->


<!-- <p>Find me in app/views/login/login.html.erb</p> -->
