<%= form_for(@item_pedido) do |f| %>
  <% if @item_pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_pedido.errors.count, "error") %> prohibited this item_pedido from being saved:</h2>

      <ul>
      <% @item_pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantidade %><br />
    <%= f.number_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :observacao %><br />
    <%= f.text_field :observacao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
