<h1>Listing item_pedidos</h1>

<table>
  <tr>
    <th>Quantidade</th>
    <th>Valor</th>
    <th>Observacao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_pedidos.each do |item_pedido| %>
  <tr>
    <td><%= item_pedido.quantidade %></td>
    <td><%= item_pedido.valor %></td>
    <td><%= item_pedido.observacao %></td>
    <td><%= link_to 'Show', item_pedido %></td>
    <td><%= link_to 'Edit', edit_item_pedido_path(item_pedido) %></td>
    <td><%= link_to 'Destroy', item_pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item pedido', new_item_pedido_path %>
