<p id="notice"><%= notice %></p>

<p>
  <b>Quantidade:</b>
  <%= @item_pedido.quantidade %>
</p>

<p>
  <b>Valor:</b>
  <%= @item_pedido.valor %>
</p>

<p>
  <b>Observacao:</b>
  <%= @item_pedido.observacao %>
</p>


<%= link_to 'Edit', edit_item_pedido_path(@item_pedido) %> |
<%= link_to 'Back', item_pedidos_path %>
